<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Currency Tracker" />
    <meta
      name="tags"
      content="currency, currency converter, track currency , exchange rate, forex, send money "
    />
    <meta
      name="author"
      content="Roy Aldner Labado, Charles Darrell Pinangat, Busisiwe Bubu Jamela"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Currency Tracker</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />
  </head>
  <body>
    <main>
      <h1>404 PAGE NOT FOUND!</h1>
      <br />
      <h2>go back to homepage</h2>
    </main>
  </body>
</html>
