<%- include("templates/headerTemplate") %>
<link rel="stylesheet" href="/CSS/sendMoneyStyles.css">
<body>
    <div class="Container">
        <%- include("templates/navTemplate") %>
        <main>
            <div>
                <h1>SEND MONEY</h1>
            <h2>Choose the best rates from the list below</h2>
            <table>
                <tr>
                    <th>REMITTANCE</th>
                    <th> TRANSFER RATE </th>
                    <th>LINK </th>
                </tr>
                <tr>
                    <td>Wise </a></td>
                    <td>$10.52 CAD </td>
                    <td><a href="https://wise.com/ca/">Send</td>
                </tr>
                <tr>
                    <td>Remitly </a></td>
                    <td> $2.99 5CAD </td>
                    <td><a href="https://www.remitly.com/ca/en">Send</a></td>
                </tr>
                <tr>
                    <td>Western Union </td>
                    <td>$6.99 CAD</td>
                <td><a href="https://www.westernunion.com/ca/en/home.html">Send</a></td>
                </tr>
                <tr>
                    <td>XE </td>
                    <td>$9.99 CAD </td>
                    <td><a href="https://www.xe.com/">Send</a></label></td>
                </tr>
                <tr>
                    <td>World Remit </td>
                    <td>$2.99 CAD </td>
                    <td><a href="https://www.worldremit.com/en-ca">Send</a></td>
                </tr>
                <tr>
                    <td>PayPal </td>
                    <td> $4.99 CAD </td>
                    <td><a href="https://www.paypal.com/ca/home">Send</a></td>
                </tr>
            </table>
            </div>  
        </main>       
        <%- include("templates/footerTemplate") %>
    </div>
</body>
</html>