<footer class="socMed">
  <div class="sIcon">
    <a href="https://www.facebook.com/"
      ><i class="devicon-facebook-plain colored"></i
    ></a>
  </div>
  <div class="sIcon">
    <a href="https://twitter.com/"
      ><i class="devicon-twitter-original colored"></i
    ></a>
  </div>
  <div class="sIcon">
    <a href="https://www.linkedin.com/?trk=guest_homepage-basic_nav-header-logo"
      ><i class="devicon-linkedin-plain colored"></i
    ></a>
  </div>
  <div class="sIcon">
    <a href="https://github.com/"
      ><i class="devicon-github-original colored"></i
    ></a>
  </div>
</footer>
