<nav>
  <div class="logo">
    <div>CURRENCY TRACKER</div>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/track">Track</a></li>
    <li><a href="/notification">Notify</a></li>
    <li><a href="/sendMoney">Send Money</a></li>
    <li><a href="/API">API</a></li>
    <li><a href="/account">Account</a></li>
  </ul>
</nav>
